<!DOCTYPE html>
<html lang="en-US"> 
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Import the stylesheets -->
        <link rel="stylesheet" href="../static/main/css/header.css">
        <link rel="stylesheet" href="../static/main/css/navbar.css">
        <link rel="stylesheet" href="../static/main/css/main.css">
        <link rel="stylesheet" href="../static/main/css/footer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
        <title>Home - Jason Israilov's Personal Website</title>
        <link rel="icon" href="../static/main/images/favicons/jason-favicon.ico" type="image/x-icon">

        <!-- Search enginges need this Meta data for SEO-->
        <meta name="description" content="Jason Israilov's personal website made at the Michigan State University.">
        <meta name="keywords" content="Jason, Israilov, HTMS, CSS, JavaScript, MSU, Piano, Project">
        <meta name="author" content="Jason Israilov">
        
        <meta http-equiv="refresh" content="30">
        
        <!-- Social Media Share Meta Data -->
        <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0421/0838/7479/products/US-312_392x.jpg?v=1618342051">
        <meta property="og:description" content="The personal website for Jason Israilov developed at Michigan State University.">
        <meta property="og:title" content="Jason Israilov's Personal Website">
    </head>
    <body>
        <header> 
            <img src="../static/main/images/detroit-banner.jpeg" loading="lazy" alt="Detroit skyline from Canadian side of the river.">
        </header>
        <div class="nav-container">
            <nav class="navbar">
                <div id="assignment-name">Jason Israilov Personal Website</div>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-menu">
                    <li><a href="/index.html" class="nav-links">Home</a></li>
                    <li><a href="/projects.html" class="nav-links">Projects</a></li>
                    <li><a href="https://jasonisrailov.com/resume-2" class="nav-links">Resume</a></li>
                    <li id="linkedin-icon"><a href="https://linkedin.com/in/jasonisrailov" class="nav-links"><img src="../static/main/images/social-linkedin.png" loading="lazy" alt="LinkedIn Logo that links to Jason Israilov's LinkedIn"></a></li>
                    <li><a href="https://linkedin.com/in/jasonisrailov" class="hidden-nav-links">LinkedIn</a></li>
                </ul>
            </nav>
        </div>
        <script src="../static/piano/js/piano.js"></script>

        <!-- Here is my page's main content -->
        <main>
            <div class ="wrapper">
                <div class="box-left">
                    <img src="../static/main/images/jason-israilov-image.jpg" loading="lazy" alt="Jason Israilov posing for camera behind MSU background.">
                </div>
                <div class="box-right"><p><span class="initial-name">Jason Israilov</span> is a senior at Michigan State University in the College 
                    of Engineering, majoring in Computer Science and minoring in Cybersecurity. He is eager to enter the technology industry as soon 
                    as possible. His favorite sports to watch are football, basketball and UFC. At MSU, he is involved in many student organizations, 
                    including <a href="https://spartanblockchain.org/">Spartan Blockchain Solutions</a> and MSU Chess Club. He is a big fan of electric 
                    cars, security, privacy, pickleball, machine learning, artificial intelligence and Detroit sports. He is a proud first generation American and Spartan. He is also known to be a major foodie and enjoys listening to music. He enjoys 
                    cooking his favorite foods like steak or pasta. With his close friends, he enjoys eating his favorite food at Omi Sushi in East 
                    Lansing every Sunday.
                    <br><br> 
                    Jason also has a strong passion for green energy. His proudest achievement was in high school when he helped present in front of his 
                    school board advocating for cleaner energy in the district. After over two years of hard work from him along with the 
                    <a href="https://wbhsearth.org/">E.A.R.T.H Club</a>, they were able to secure a 20kW Solar Array for his high school for FREE! 
                    Since it was installed in September 2019, the solar array has generated over 40 MWh of energy and saved over 60,000 pounds of CO2 emissions!
                    Check out the <a href="https://monitoringpublic.solaredge.com/solaredge-web/p/site/public?name=West%20Bloomfield%20High%20School&locale=en_US#/dashboard">WBHS 20kW array live data feed</a> for the most up to date numbers.
                    <br><br>
                    Jason was also the Lacrosse captain at WBHS, playing as a face off middie. He does not play lacrosse anymore but did recently take up 
                    the sport of golfing a few years ago. Outside of class, he likes to stay active. He likes to run and exercise as often as possible in 
                    order to reduce stress and be healthy.
                    <br><br>
                    Jason has an older brother, which he regularly looks up to, who graduated with a double major from the Mike Ilitch School of Business. 
                    His favorite color is green, and he is frequently following the stock market very closely as an active trader.
                    <br><br>
                    This past summer, he worked for Equifax as a Site Reliability Engineer (SRE) Intern, focusing on vulnerabilities within storage buckets
                    for their Google Cloud platform. On the SRE team, he has honed essential skills such as the agile-scrum framework for optimizing efficiency
                    and Continuous Integration (CI) and Continuous Development (CD). He ended the summer with Equifax by helping remediate security vulnerabilities
                    within Service Level Agreements (SLA), reducing the overall threat by 95% in a three-month period. He is sad he will be graduating this semester
                    from MSU, but also excited about the next chapter in his life.
                    </p>
                </div> 
            </div>
            <hr>   
                
            <div class="fact-more">
                <h2>A fun fact about me:</h2>
                <br>
                <p>I met Matthew Stafford walking around the local park trails before he left the Lions to play for the Rams and win the Super Bowl LVI.</p>
            </div>
        </main>
        <footer>
            <p>© Copyright 2023 Jason Israilov. All rights reserved.</p>
        </footer>
    </body>
</html>