<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Import the stylesheets -->
        <link rel="stylesheet" href="../static/main/css/header.css">
        <link rel="stylesheet" href="../static/main/css/navbar.css">
        <link rel="stylesheet" href="../static/main/css/main.css">
        <link rel="stylesheet" href="../static/piano/css/piano.css">
        <link rel="stylesheet" href="../static/main/css/footer.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap">
        <script src="../static/piano/js/piano.js" defer></script>
        
        <title>Piano - Jason Israilov's Personal Website</title>
        <link rel="icon" href="../static/main/images/favicons/jason-favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>  
        </header>
        <div class="nav-container">
            <nav class="navbar">
                <div id="assignment-name">Jason Israilov Personal Website</div>
                <div class="menu-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <ul class="nav-menu">
                    <li><a href="/index.html" class="nav-links">Home</a></li>
                    <li><a href="/projects.html" class="nav-links">Projects</a></li>
                    <li><a href="https://jasonisrailov.com/resume-2" class="nav-links">Resume</a></li>
                    <li id="linkedin-icon"><a href="https://linkedin.com/in/jasonisrailov" class="nav-links"><img src="../static/main/images/social-linkedin.png" loading="lazy" alt="LinkedIn Logo that links to Jason Israilov's LinkedIn"></a></li>
                    <li><a href="https://linkedin.com/in/jasonisrailov" class="hidden-nav-links">LinkedIn</a></li>
                </ul>
            </nav>
        </div>
        <script src="../static/piano/js/piano.js"></script>
        <main>
            <div class="piano-pg-description">
                <p>Behold piano great and old, it's master slumber in far off cold, If you wish to see anew, call out to it - we see you.</p>
            </div>
            <hr>
            <br>
            <div class="piano-box" id="piano-id">
                <p id="scary-text">The Great Old One</p>
                <div class="key-box">
                    <div class="white-key" id="a-key"><p>A</p></div>
                    <div class="black-key" id="w-key"><p>W</p></div>
                    <div class="white-key" id="s-key"><p>S</p></div>
                    <div class="black-key" id="e-key"><p>E</p></div>
                    <div class="white-key" id="d-key"><p>D</p></div>
                    <div class="white-key" id="f-key"><p>F</p></div>
                    <div class="black-key" id="t-key"><p>T</p></div>
                    <div class="white-key" id="g-key"><p>G</p></div>
                    <div class="black-key" id="y-key"><p>Y</p></div>
                    <div class="white-key" id="h-key"><p>H</p></div>
                    <div class="black-key" id="u-key"><p>U</p></div>
                    <div class="white-key" id="j-key"><p>J</p></div>
                    <div class="white-key" id="k-key"><p>K</p></div>
                    <div class="black-key" id="o-key"><p>O</p></div>
                    <div class="white-key" id="l-key"><p>L</p></div>
                    <div class="black-key" id="p-key"><p>P</p></div>
                    <div class="white-key" id="semicolon-key"><p>;</div>
                </div>
            </div>
            <br>
        </main>
        <footer>
            <p>© Copyright 2023 Jason Israilov. All rights reserved.</p>
        </footer>
    </body>
</html> 