img {
    width: 350px;
    height: 245px;
} /* changes the width of all the images on the page */

body{
    text-align: center; /* center everything in the body*/
    font-family: "Verdana" /*change all the text to Verdana.*/
    /*Good fonts to use: Helvetica, Trebuchet MS, Arial Black, Courier, and Palatino.*/
} 

