
/* changes the width of all the images on the page */
/* img {
    width: 350px;
    height: 245px;
}  */

body{
    /* background: linear-gradient(red, blue); */
    /* background-color: lightblue;*/
    text-align: center;
    font-family: "Inter"
} 